body {
	background-image : url(IMG_0014N.jpg);
	margin : 30px;
    padding : 20px;
    border : 10px solid green;
}

p {
	font-size : 40px;
}

#intro {
	font-size : 40px;
}

#image1 {
	text-align : center;
}

